.sign-up {
    background:
    linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)),
    url('../../assets/beer.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.sign-up-form {

    width: 60vw;
    max-width: 800px;
}

.form {
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
      text-align: center;
    width: 100%;
    margin: 0 auto;
    background: rgba(0,0,0, .9);
    border-radius: 5px;
    padding: 10px;
}

.sign-up-form h1 {
  font-size: 4em;
  color: white;
  font-family: monospace;
} 

.text-number {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.input-field {
    width: 40vw;
    min-width: 175px;
    height: 40px;
    background: rgba(255,255,255,.1);
    font-size: 2em;
    font-family: monospace;
    border-bottom: 1px solid white;
    color: white;
  
}

.sign-up-button {
    width: 100%;
    border: 10px solid white;
    background-color:rgba(0, 230, 64, 1);
    text-decoration: none;
    font-size: 2em;
    font-family: monospace;
    /* border-radius: 10px; */
    border: none;
    color: white !important;
}