.checkout {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2em;
    top: calc(100vh - 500px);
    left: calc(100vw - 1200px);
    background-color: skyblue;
    border: 1px solid blue;
    border-radius: 10px;
    width: 300;
    height: 300px;
    margin: 0 auto;
}