
.Brewery-info {
    background-image: url('https://wallpapercave.com/wp/8dsyKCf.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: monospace;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}



.header {
    background-color: white;
    color: black;
}

.broobroo {
    width: 80vw;
    background-color: rgba(0, 0, 0, .5);
    /* max-height: 1000px; */
    overflow-x: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}



.beer-container {
    /* margin-top: 10px; */
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
}

.beer-container:hover {
    background-color: rgba(100, 100, 100, .8);

}

.comments {
    /* background-color: rgba(100, 0, 0, .5); */
    width: 90%;
    /* min-width: 430px;
    max-width: 900px; */
    margin: 0 auto;
    /* min-width: 450px; */
    /* margin: 0 auto;
   display: flex;
   flex-direction: column;
   height: 550px;
   overflow-y: scroll; */
}

.comment-top {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.upvote {
    display: flex;

}

.toggle-reviews {
    text-align: center;
}


.toggle-reviews:hover {
    cursor: pointer;
}



.reviews-container {
    width: 675px;
    border: 3px solid red;
    height: 450px;
}

.reviews {
    /* display: flex;
    justify-content: space-between; */
    width: 100%;
    margin: 0 auto;
    text-align: left;
    background-color: white;
    border-bottom: 5px solid black;
    margin-bottom: 10px;
    border: 3px solid blue;
}

.submit {
    background-color: lightgreen;
    color: green;
    /* padding: 15px; */
    border-radius: 10px;
    font-weight: bold;

}

.business-info {
    width: 50%;
    background-color: red;
    height: 300px;
}

.input {
    width: 50%;
    height: 30px;
    border-radius: 10px;
    font-family: monospace;
    display: block;
}

.review {
    background-color: red;
    animation-name: info;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.info {
    background-color: green;
    animation-name: review;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

}

.comment-button {
    width: 100%;
    font-size: 1.5em;
    font-family: Arial;
    background-color: rgb(92, 184, 92);
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 830px) {
    .broobroo {
        width: 100%;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .beer-container {
        width: 250px;
        height: 250px;
    }

    .beer-container:hover {}
}