.picture {
    width: 150px;
    height: 150px;
}

.item-container {
    display: flex;
    width: 50%;
    /* width: 800px;
    margin-bottom: 20px;
    border: 5px solid black;
    text-align: center; */
    border: 15px solid black;
    border-radius: 15px;
    text-align: center;
}

.info {
    background-color: gray;
}

.purchase {
    width: 150px;
    height: 150px;
    background-color: green;
    border: green;
    color:white;
    font-size: 2em;
}

@media only screen and (max-width: 1200px) {
    .item-container {
        flex-direction: column;
        width: 200px;
        margin: 0 auto;
    }

    .picture {
        height: 200px;
        width: 200px;
    }

    .info {
        width: 100%;
    }

    .purchase {
        width: 100%;
        /* background-color: red; */
    }

}