@keyframes modal {
    from {top: -500px;}
    to {top: calc(50% - 250px)}
}

.modal {
    width: 500px;
    height: 500px;
    /* z-index: 100; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow-y: scroll;
    right: calc(50vw - 250px);
    top:  calc(50vh - 250px);
    justify-content: center;
    background-color: whitesmoke;
    color: black;
    animation-name: modal;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    font-weight: bold;
}

.map {
    background-color: white;
    width: 150px;
}

@media only screen and (max-width: 570px){
    .modal {
        width: 300px;
        height: 300px;
        right: calc(50vw - 150px);
        top: calc(50vh - 150px);
        font-size: .7em;
        overflow-y: scroll;
    }
} 
