.nav-bar {
    width: 100%;
    /* position: fixed; */
    top: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px 30px; */
    background-color:black;
    color: white;
    font-family: monospace;
}

.nav-bar h1 {
    margin-left: 20px;
}

.hamburger-icon {
    display: none;
}

.nav-items {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 50%;
    max-width: 600px;
    justify-content: space-between;
    margin: 25px 15px;
}

.nav-items a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.logout {
    background-color: transparent;
    border: none;
    color: white;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
}

.nav-items a:hover {
    /* border-bottom: 1px solid white; */
    color: yellow;
    transition: .25s;

}

@media only screen and (max-width: 800px) {
    .nav-items {
        display: none;
    }

    .hamburger-icon {
        display: flex;
        width: 30px;
        height: 30px;
        background-color: inherit;
        margin-right: 10px;
        margin: 15px;
        border-radius: 5px;
    }

    .hamburger-icon:hover {
        cursor: pointer;
    }
}