.comment-modal {
    width: 350px;
    height: 300px;
    position: fixed;
    top: calc(50vh - 200px);
    right: calc(50vw - 185px);
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align:center;
}
.comment-modal h1 {
 color: black;
}

.comment-text {
    width: 90%;
    height: 195px;
}

.comment-submit {
    width: 100%;
    margin-top: 5px;
    font-size: 1.5em;
    background-color: green;
    border: green;
}