.comment-modal {
    width: 60vw;
    height: 310px;
    position: fixed;
    top: calc(50vh - 200px);
    right: calc(20vw);
    background-color: rgba(255,255,255,.9);
    border: 1px solid black;
    border-radius: 10px;
    text-align:center;
    max-width: 1000px;
    min-height: 330px;
}
.comment-modal h1 {
 color: black;
}

.comment-text {
    width: 90%;
    height: 60%;
}

.comment-submit {
    width: 90%;
    margin-top: 5px;
    font-size: 1.5em;
    background-color: green;
    border: green;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}