.notifications {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: SPACE-around;
    /* border: 3px solid blue; */
}

h1 {
    font-family: monospace;
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.wrapper {
    /* width: 100vw; */
    width: 100%;
    min-height: 92.3vh;
     background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
 url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3549919.jpg');
    background-position: center;
    background-size: cover;
    /* border: 3px solid green; */
}
.notification {
    width: 90%;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}


/* .premium-notification {
    background-color: rgba(255,255,255,.5);
    text-align: center; 
    animation-name: pronotification;
    animation-duration: 3s;
    animation-delay: 0s;
}
.premium-notification h5 {
    animation-name: pronotificationtext;
    animation-duration: 5s;
    animation-delay: 0;
}
.premium-notification h5:hover {
   cursor: pointer;
}

.pro-signup {
    color: blue;
    text-decoration: underline;
} */

.your-comments {
    /* border: 10px solid yellow; */
    width: 80%;
}

@keyframes pronotification {
    0% {
        background-color: white;
       
    }

    100% {
        background-color: rgba(0,0,0,0.5);
    }

}

@keyframes pronotification {
    0% {
        background-color: white;
       
    }

    100% {
        background-color: rgba(0,0,0,0.5);
    }

}

@media only screen and (max-width: 1200px) {
    .notifications {
        flex-direction: column;
        align-items: center;
        /* border: 9px solid red; */
    }

    .notification {
        width: 100%;
        /* font-size: .5em; */
    }

    .your-comments {
        width: 100%;
    }
 
}

